[submodule "99-pkgbuilds/iqmol"]
	path = 99-pkgbuilds/iqmol
	url = ssh://aur@aur.archlinux.org/iqmol.git
[submodule "99-pkgbuilds/iqmol-git"]
	path = 99-pkgbuilds/iqmol-git
	url = ssh://aur@aur.archlinux.org/iqmol-git.git
[submodule "99-pkgbuilds/openbabel-git"]
	path = 99-pkgbuilds/openbabel-git
	url = ssh://aur@aur.archlinux.org/openbabel-git.git
[submodule "99-pkgbuilds/xtb-git"]
	path = 99-pkgbuilds/xtb-git
	url = ssh://aur@aur.archlinux.org/xtb-git.git
[submodule "99-pkgbuilds/python-pymbar"]
	path = 99-pkgbuilds/python-pymbar
	url = ssh://aur@aur.archlinux.org/python-pymbar.git
[submodule "99-pkgbuilds/python-parmed"]
	path = 99-pkgbuilds/python-parmed
	url = ssh://aur@aur.archlinux.org/python-parmed.git
